Repository FullStackWithLawrence/aws-openai: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

eslint:
  name: eslint
  entry: bash -c 'cd client && npx eslint'
  language: node

pylint:
  name: pylint
  entry: ./run_pylint.sh
  language: script

chore: [gh] Update __version__.py to 0.8.2 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

chore: [gh] Update __version__.py to 0.8.2-alpha.1 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

chore: [gh] Update __version__.py to 0.8.2-beta.1 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

refactor: add SingletonSettings
  CHANGELOG.md
  api/terraform/python/openai_api/common/conf.py
Due: pylint

chore: mask aws account number
  .github/workflows/testsPython.yml
Due: none

chore: mask aws account number w jq + sed
  .github/workflows/testsPython.yml
Due: none

feat: add /info end point
  CHANGELOG.md
  api/terraform/api_gateway_info.tf
  api/terraform/json/iam_policy_lambda.json
  api/terraform/lambda_info.tf
  api/terraform/python/openai_api/common/aws.py
  api/terraform/python/openai_api/common/conf.py
  api/terraform/python/openai_api/common/utils.py
  api/terraform/python/openai_api/lambda_info/__init__.py
  api/terraform/python/openai_api/lambda_info/lambda_handler.py
Due: pylint

chore: [gh] Update __version__.py to 0.9.0 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

chore: [gh] Update __version__.py to 0.9.0-alpha.1 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

chore: [gh] Update __version__.py to 0.9.0-beta.1 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

docs: add /info end point
  api/postman/OpenAI.postman_collection.json
Due: none

style: remove the solution name from local variables
  api/terraform/python/openai_api/common/aws.py
  api/terraform/python/openai_api/common/utils.py
  api/terraform/python/openai_api/lambda_info/lambda_handler.py
Due: pylint

chore: remove unused import
  api/terraform/python/openai_api/lambda_info/lambda_handler.py
Due: pylint

refactor: complete the refactor of TestAWSInfrastructure, which now uses common.aws.AWSInfrastructureConfig()
  api/terraform/python/openai_api/common/aws.py
  api/terraform/python/openai_api/common/conf.py
  api/terraform/python/openai_api/common/tests/test_aws_infrastructure.py
Due: pylint

chore: remove unused import
  api/terraform/python/openai_api/common/tests/test_aws_infrastructure.py
Due: pylint

chore: [gh] version bumps in .pre-commit-config.yaml [skip ci]
  .pre-commit-config.yaml
Due: none

docs: lint header
  api/terraform/python/openai_api/common/conf.py
Due: pylint

docs: lint headers
  CHANGELOG.md
Due: none

chore: point flake8 to the venv
  .vscode/settings.json
Due: none

chore: add python3.12
  tox.ini
Due: none

chore: [gh] Update __version__.py to 0.9.1 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

chore: [gh] Update __version__.py to 0.9.1-alpha.1 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

chore: [gh] Update __version__.py to 0.9.1-beta.1 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

chore: add global helper commands and re-analyze
  Makefile
  README.md
Due: none

chore: ignore package-lock.json
  client/.gitignore
Due: none

chore: lint npm setup
  Makefile
  client/package-lock.json
  client/package.json
Due: none

chore: ignore client/package-lock.json
  .gitignore
Due: none

chore: version bump to 0.9.1
  client/package.json
Due: none

chore: lint js code
  .eslintrc.js
  Makefile
  client/.eslintrc.cjs
  client/src/App.jsx
  client/src/components/about/Component.jsx
  client/src/components/chatApp/Modal.jsx
  client/src/components/chatApp/errorBoundary.jsx
  package.json
Due: eslint

feat: scaffold a lambda that uses an openai function
  Makefile
  api/terraform/lambda_layer_genai.tf
  api/terraform/lambda_openai_function.tf
  api/terraform/python/layer_genai/Dockerfile
  api/terraform/python/layer_genai/requirements.txt
  api/terraform/python/openai_api/common/utils.py
  api/terraform/python/openai_api/lambda_langchain/lambda_handler.py
  api/terraform/python/openai_api/lambda_openai_function/__init__.py
  api/terraform/python/openai_api/lambda_openai_function/env.sh
  api/terraform/python/openai_api/lambda_openai_function/lambda_handler.py
  api/terraform/python/openai_api/lambda_openai_function/tests/__init__.py
  api/terraform/python/openai_api/lambda_openai_function/tests/mock_data/json/cloudwatch_dump.json
  api/terraform/python/openai_api/lambda_openai_function/tests/mock_data/json/prompt_about_lawrence.json
  api/terraform/python/openai_api/lambda_openai_function/tests/test_lambda_openai_function.py
  api/terraform/python/openai_api/lambda_openai_function/tests/test_setup.py
  api/terraform/python/openai_api/lambda_openai_v2/lambda_handler.py
  api/terraform/terraform.tfvars
  requirements.txt
Due: pylint

refactor: add lambda_config.yaml and generalize trigger conditions
  api/terraform/python/layer_genai/requirements.txt
  api/terraform/python/openai_api/common/utils.py
  api/terraform/python/openai_api/lambda_openai_function/lambda_config.yaml
  api/terraform/python/openai_api/lambda_openai_function/lambda_handler.py
  api/terraform/python/openai_api/lambda_openai_function/tests/test_lambda_openai_function.py
  requirements.txt
Due: pylint

refactor: move nlp features to natural_language_processing.py
  api/terraform/python/openai_api/common/const.py
  api/terraform/python/openai_api/common/utils.py
  api/terraform/python/openai_api/lambda_openai_function/lambda_handler.py
  api/terraform/python/openai_api/lambda_openai_function/natural_language_processing.py
  api/terraform/python/openai_api/lambda_openai_function/tests/test_lambda_openai_function.py
  api/terraform/python/openai_api/lambda_openai_v2/lambda_handler.py
Due: pylint

feat: create new layer_nlp lambda layer
  api/terraform/lambda_layer_genai.tf
  api/terraform/lambda_layer_nlp.tf
  api/terraform/lambda_openai_function.tf
  api/terraform/python/layer_nlp/.gitignore
  api/terraform/python/layer_nlp/Dockerfile
  api/terraform/python/layer_nlp/README.md
  api/terraform/python/layer_nlp/create_container.sh
  api/terraform/python/layer_nlp/requirements.txt
Due: none

refactor: split genai lambda layer into openai and langchain
  api/terraform/lambda_info.tf
  api/terraform/lambda_langchain.tf
  api/terraform/lambda_layer_genai.tf
  api/terraform/lambda_layer_langchain.tf
  api/terraform/lambda_layer_nlp.tf
  api/terraform/lambda_layer_openai.tf
  api/terraform/lambda_openai_function.tf
  api/terraform/lambda_openai_v2.tf
  api/terraform/python/layer_langchain/.gitignore
  api/terraform/python/layer_langchain/Dockerfile
  api/terraform/python/layer_langchain/README.md
  api/terraform/python/layer_langchain/create_container.sh
  api/terraform/python/layer_langchain/requirements.txt
  api/terraform/python/layer_openai/.gitignore
  api/terraform/python/layer_openai/Dockerfile
  api/terraform/python/layer_openai/README.md
  api/terraform/python/layer_openai/create_container.sh
  api/terraform/python/layer_openai/requirements.txt
  api/terraform/python/openai_api/lambda_openai_function/natural_language_processing.py
  requirements.txt
Due: pylint

fix: add handling for legacy native openai api responses
  client/src/components/chatApp/Component.jsx
Due: none

refactor: add dependabot monitoring for new lambda layers
  .github/dependabot.yml
  api/terraform/python/layer_openai/requirements.txt
  client/src/components/chatApp/Component.jsx
  requirements.txt
Due: none

feat: code lambda_handler() to process tool_call(s) returned by openai api
  api/terraform/apigateway_endpoint_function.tf
  api/terraform/python/openai_api/lambda_openai_function/function_refers_to.py
  api/terraform/python/openai_api/lambda_openai_function/function_weather.py
  api/terraform/python/openai_api/lambda_openai_function/lambda_config.yaml
  api/terraform/python/openai_api/lambda_openai_function/lambda_handler.py
Due: pylint

Path conditions:
  eslint: any of: ^client/ and \.(js|mjs|cjs)$
  pylint: any of: \.py$
