Repository FullStackWithLawrence/aws-openai: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

.pre-commit-config.yaml:

default_language_version:
  # default language version for each language
  python: python3.11
repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: ["--ignore-words=codespell.txt"]
        exclude: '\.svg$'
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd client && npx eslint'
        language: node
        types: [javascript]
        files: ^client/
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.7
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 23.12.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--settings-path=pyproject.toml"]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: ./run_pylint.sh
        language: script
        types: [python]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ["-ll"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      # See https://pre-commit.com/hooks.html for more hooks
      #- id: check-added-large-files
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: destroyed-symlinks
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: trailing-whitespace
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: debug-statements
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.23 # Get the latest from: https://github.com/gruntwork-io/pre-commit/releases
    hooks:
      - id: terraform-fmt
      - id: helmlint
      - id: terraform-validate
      - id: tflint
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.10.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-angular"]
ci:
  # for more information, see https://pre-commit.ci
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip:
    [
      terraform-fmt,
      helmlint,
      terraform-validate,
      tflint,
      shellcheck,
      markdown-link-check,
      commitlint,
    ]
  submodules: false

chore: strongly type all validators
  api/terraform/python/openai_api/common/conf.py
  api/terraform/python/openai_api/common/tests/test_configuration.py
Due: pylint

chore: ensure that we're initialized before generating dump dict
  .pre-commit-config.yaml
  api/terraform/python/openai_api/common/conf.py
Due: pylint

chore: unit test constructor initializations. rename dump
  CHANGELOG.md
  api/terraform/python/openai_api/common/README.md
  api/terraform/python/openai_api/common/conf.py
  api/terraform/python/openai_api/common/tests/test_configuration.py
  api/terraform/python/openai_api/common/utils.py
Due: pylint

docs: add git and make as requirements
  README.md
Due: none

refactor: swap deprecated @validator() for new @field_validator()
  api/terraform/python/openai_api/common/conf.py
  api/terraform/python/openai_api/common/tests/.env.test_illegal_nulls
  api/terraform/python/openai_api/common/tests/.env.test_legal_nulls
  api/terraform/python/openai_api/common/tests/test_configuration.py
Due: pylint

chore: [gh] version bumps in .pre-commit-config.yaml [skip ci]
  .pre-commit-config.yaml
Due: none

fix: convert return value to json if necessary. also verify dict keys before attempting to access anything
  client/src/components/chatApp/ApiRequest.js
Due: eslint

fix: scaffold an Error Boundary for the chatapp
  client/src/components/chatApp/errorBoundary.jsx
Due: none

fix: add an error boundary
  client/src/components/chatApp/Component.jsx
Due: none

fix: ensure that error messages are strings
  client/src/components/chatApp/Modal.jsx
Due: none

chore: resolve merge conflicts
  client/package-lock.json
  client/package.json
  client/src/config.js
Due: eslint

feat: add v2 Settings class
  api/terraform/python/openai_api/common/README.md
  api/terraform/python/openai_api/common/conf.py
  api/terraform/python/openai_api/common/const.py
  api/terraform/python/openai_api/common/tests/.env.test_01
  api/terraform/python/openai_api/common/tests/.env.test_illegal_nulls
  api/terraform/python/openai_api/common/tests/.env.test_legal_nulls
  api/terraform/python/openai_api/common/tests/mock_data/json/apigateway_index_lambda_event.json
  api/terraform/python/openai_api/common/tests/mock_data/json/apigateway_index_lambda_event_bad_event.json
  api/terraform/python/openai_api/common/tests/mock_data/json/apigateway_index_lambda_event_bad_source.json
  api/terraform/python/openai_api/common/tests/mock_data/json/apigateway_index_lambda_event_no_records.json
  api/terraform/python/openai_api/common/tests/mock_data/json/apigateway_index_lambda_response.json
  api/terraform/python/openai_api/common/tests/mock_data/json/apigateway_search_lambda_event.json
  api/terraform/python/openai_api/common/tests/mock_data/json/apigateway_search_lambda_response.json
  api/terraform/python/openai_api/common/tests/mock_data/json/dynamodb-sample-records.json
  api/terraform/python/openai_api/common/tests/mock_data/json/rekognition_index_faces.json
  api/terraform/python/openai_api/common/tests/mock_data/json/rekognition_search_output.json
  api/terraform/python/openai_api/common/tests/test_aws_infrastructure.py
  api/terraform/python/openai_api/common/tests/test_configuration.py
  api/terraform/python/openai_api/common/utils.py
Due: pylint

refactor: refactor packaging script
  .pylintrc
  README.md
  api/terraform/json/iam_policy_lambda.json
  api/terraform/python/layer_genai/requirements.txt
  api/terraform/python/openai_api/common/utils.py
  api/terraform/python/openai_api/lambda_langchain/tests/mock_data/json/cloudwatch_dump.json
  api/terraform/python/openai_api/lambda_openai_v2/tests/mock_data/json/cloudwatch_dump.json
  codespell.txt
  doc/GOOD_CODING_PRACTICE.md
  doc/README.md
  doc/json/settings_cloudwatch_dump_example.json
  package.json
  requirements.txt
Due: pylint

refactor: refactor packaging script
  api/terraform/apigateway.tf
  api/terraform/endpoint/mapping-templates/openai-integration.tpl
  api/terraform/endpoint/outputs.tf
  api/terraform/lambda_langchain.tf
  api/terraform/lambda_layer.tf
  api/terraform/lambda_openai_v2.tf
  api/terraform/route53.tf
Due: none

feat: add v2 Settings class
  api/terraform/python/openai_api/create_pkg.sh
  api/terraform/python/openai_api/lambda_langchain/create_pkg.sh
  api/terraform/python/openai_api/lambda_langchain/lambda_handler.py
  api/terraform/python/openai_api/lambda_openai_v2/create_pkg.sh
  api/terraform/python/openai_api/lambda_openai_v2/lambda_handler.py
Due: pylint

chore: [gh] Update __version__.py to 0.8.0 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

chore: setup CI for aws_session
  .github/actions/tests/python/action.yml
Due: none

chore: [gh] Update __version__.py to 0.8.0-beta.1 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

chore: [gh] Update __version__.py to 0.8.0-alpha.1 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

fix: ensure that AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY are set when running CI
  api/terraform/python/openai_api/common/conf.py
Due: pylint

fix: fix indentation error
  .github/actions/tests/python/action.yml
Due: none

chore: echo the IAM user
  .github/workflows/runTests.yml
Due: none

chore: echo the IAM user
  .github/workflows/testsPython.yml
Due: none

chore: use the AWS_DEPLOYED swith
  .github/actions/tests/python/action.yml
Due: none

test: pass aws creds to action
  .github/actions/tests/python/action.yml
  .github/workflows/testsPython.yml
Due: none

test: don't pass aws creds. refactor init()
  .github/actions/tests/python/action.yml
  .github/workflows/testsPython.yml
  api/terraform/python/openai_api/common/conf.py
Due: pylint

test: don't set AWS_PROFILE
  .github/actions/tests/python/action.yml
Due: none

chore: improve console logging output
  api/terraform/python/openai_api/common/conf.py
Due: pylint

chore: add an init_info property
  api/terraform/python/openai_api/common/conf.py
  api/terraform/python/openai_api/common/tests/test_configuration.py
Due: pylint

chore: add init_info to all tests
  api/terraform/python/openai_api/common/tests/test_configuration.py
Due: pylint

test: add a teardown function
  api/terraform/python/openai_api/common/tests/test_configuration.py
Due: pylint

test: wrap up teardown function
  api/terraform/python/openai_api/common/tests/test_configuration.py
Due: pylint

chore: [gh] Update __version__.py to 0.8.1 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

chore: [gh] Update __version__.py to 0.8.1-alpha.1 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

chore: [gh] Update __version__.py to 0.8.1-beta.1 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

chore: make init_info an optional field in aws_auth dict
  api/terraform/python/openai_api/common/conf.py
Due: pylint

chore: lint requirements
  api/terraform/python/layer_genai/requirements.txt
Due: none

fix: refactor request templates for openai api v1 object_type
  CHANGELOG.md
  api/terraform/apigateway_endpoints.tf
  api/terraform/endpoint/api_gateway_endpoint.tf
  api/terraform/endpoint/mapping-templates/openai-integration.tpl
  api/terraform/endpoint/variables.tf
Due: none
