Repository FullStackWithLawrence/aws-openai: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

.pre-commit-config.yaml:

default_language_version:
  # default language version for each language
  python: python3.11
repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: ["--ignore-words=codespell.txt"]
        exclude: '\.svg$'
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd client && npx eslint'
        language: node
        types: [javascript]
        files: ^client/
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.7
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 23.12.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--settings-path=pyproject.toml"]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: ./run_pylint.sh
        language: script
        types: [python]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ["-ll"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      # See https://pre-commit.com/hooks.html for more hooks
      #- id: check-added-large-files
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: destroyed-symlinks
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: trailing-whitespace
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: debug-statements
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.23 # Get the latest from: https://github.com/gruntwork-io/pre-commit/releases
    hooks:
      - id: terraform-fmt
      - id: helmlint
      - id: terraform-validate
      - id: tflint
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.10.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-angular"]
ci:
  # for more information, see https://pre-commit.ci
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip:
    [
      terraform-fmt,
      helmlint,
      terraform-validate,
      tflint,
      shellcheck,
      markdown-link-check,
      commitlint,
    ]
  submodules: false

feat: add openai-function-calling app
  api/terraform/apigateway_endpoints.tf
  api/terraform/python/openai_api/lambda_openai_function/lambda_handler.py
  client/.eslintignore
  client/src/App.jsx
  client/src/applications/FunctionCalling.js
Due: eslint, pylint

feat: convert urls in response text to links and add styling
  client/src/components/chatApp/Component.css
  client/src/components/chatApp/Component.jsx
Due: none

chore: bump version
  client/package.json
Due: none

chore: [gh] Update __version__.py to 0.10.0 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

chore: [gh] Update __version__.py to 0.10.0-alpha.1 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

chore: [gh] Update __version__.py to 0.10.0-beta.1 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

chore: remove pinecone requirement
  .github/actions/tests/python/action.yml
Due: none

docs: update Postman
  api/postman/OpenAI.postman_collection.json
  api/terraform/python/openai_api/lambda_openai_function/lambda_config.yaml
  client/src/components/chatApp/Component.jsx
Due: none

fix: implement get_current_weather() using google maps api + open-meteo
  .gitignore
  CHANGELOG.md
  Makefile
  api/terraform/python/layer_nlp/requirements.txt
  api/terraform/python/openai_api/common/conf.py
  api/terraform/python/openai_api/lambda_openai_function/function_refers_to.py
  api/terraform/python/openai_api/lambda_openai_function/function_weather.py
  api/terraform/python/openai_api/lambda_openai_function/lambda_config.yaml
  requirements.txt
Due: pylint

chore: [gh] Update __version__.py to 0.10.1 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

fix: configure google maps api for use in aws lambda.
  api/terraform/lambda_layer_pandas.tf
  api/terraform/lambda_openai_function.tf
  api/terraform/python/layer_nlp/README.md
  api/terraform/python/layer_nlp/requirements.txt
  api/terraform/python/layer_pandas/.gitignore
  api/terraform/python/layer_pandas/Dockerfile
  api/terraform/python/layer_pandas/README.md
  api/terraform/python/layer_pandas/create_container.sh
  api/terraform/python/layer_pandas/requirements.txt
  api/terraform/python/openai_api/lambda_openai_function/env.sh
  api/terraform/python/openai_api/lambda_openai_function/function_weather.py
Due: pylint

test: add google maps api key
  .github/actions/tests/python/action.yml
  .github/workflows/runTests.yml
  .github/workflows/testsPython.yml
Due: none

test: add google maps api key
  .github/actions/tests/python/action.yml
  .github/workflows/testsPython.yml
Due: none

fix: graceful failure if google geolocation api key is missing.
  api/terraform/python/openai_api/lambda_openai_function/function_weather.py
Due: pylint

chore: [gh] Update __version__.py to 0.10.1-beta.1 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

chore: [gh] Update __version__.py to 0.10.1-alpha.1 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

test: add unit tests for openai function calling hooks
  api/terraform/python/openai_api/lambda_openai_function/tests/test_lambda_openai_refers_to.py
  api/terraform/python/openai_api/lambda_openai_function/tests/test_lambda_openai_weather.py
Due: pylint

docs: add function calling documentation
  api/terraform/python/openai_api/lambda_openai_function/README.md
Due: none

docs: add function calling documentation
  README.md
Due: none

style: style anchor tags in message threads
  client/src/components/chatApp/Component.css
Due: none

fix: add more granular info section selections
  api/postman/OpenAI.postman_collection.json
  api/terraform/python/openai_api/lambda_openai_function/function_refers_to.py
  api/terraform/python/openai_api/lambda_openai_function/lambda_config.yaml
Due: pylint

chore: [gh] Update __version__.py to 0.10.2 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

chore: [gh] Update __version__.py to 0.10.2-beta.1 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

chore: [gh] Update __version__.py to 0.10.2-alpha.1 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

style: ux tweaks to the new chatbot
  api/terraform/apigateway_endpoints.tf
  api/terraform/python/openai_api/lambda_openai_function/lambda_config.yaml
  client/src/applications/FunctionCalling.js
Due: eslint

refactor: add a teaching section
  api/terraform/python/openai_api/lambda_openai_function/function_refers_to.py
  api/terraform/python/openai_api/lambda_openai_function/lambda_config.yaml
Due: pylint

chore: [gh] version bumps in .pre-commit-config.yaml [skip ci]
  .pre-commit-config.yaml
Due: none

refactor: object is now object_type
  api/terraform/python/openai_api/common/tests/mock_data/json/passthrough_openai_v2_request.json
  api/terraform/python/openai_api/common/tests/mock_data/json/passthrough_openai_v2_response.json
  api/terraform/python/openai_api/common/tests/test_utils.py
  api/terraform/python/openai_api/common/utils.py
  api/terraform/python/openai_api/lambda_langchain/tests/mock_data/json/passthrough_langchain_request.json
  api/terraform/python/openai_api/lambda_openai_function/lambda_config.yaml
  api/terraform/python/openai_api/lambda_openai_function/tests/mock_data/json/mock_response.json
  api/terraform/python/openai_api/lambda_openai_function/tests/mock_data/json/prompt_about_lawrence.json
  api/terraform/python/openai_api/lambda_openai_function/tests/mock_data/json/prompt_about_recipes.json
  api/terraform/python/openai_api/lambda_openai_function/tests/mock_data/json/prompt_about_weather.json
  api/terraform/python/openai_api/lambda_openai_function/tests/test_lambda_openai_function.py
  api/terraform/python/openai_api/lambda_openai_v2/tests/mock_data/json/passthrough_openai_v2_response.json
  api/terraform/templates/test_200.json
  client/src/components/chatApp/test/events/openai.response.v0.4.0.json
  doc/json/apigateway_endpoint_airport_codes_result.json
  doc/json/cloudwatch-apigateway-response-after-transformations.json
  doc/json/cloudwatch-apigateway-response-before-transformations.json
  doc/json/cloudwatch-lambda-response-dump.json
  doc/json/openai.chat.completion.response.json
Due: pylint

test: add unit test for lambda_info handler
  .coverage
  Makefile
  api/terraform/python/openai_api/lambda_info/tests/__init__.py
  api/terraform/python/openai_api/lambda_info/tests/mock_data/json/sample_response.json
  api/terraform/python/openai_api/lambda_info/tests/test_lambda_info.py
  api/terraform/python/openai_api/lambda_info/tests/test_setup.py
  requirements.txt
Due: pylint

test: add unit tests for validators
  .coverage
  api/terraform/python/openai_api/common/const.py
  api/terraform/python/openai_api/common/tests/mock_data/json/messages_bad_role.json
  api/terraform/python/openai_api/common/tests/mock_data/json/messages_good.json
  api/terraform/python/openai_api/common/tests/test_validators.py
Due: pylint

docs: update analyze chart output
  README.md
Due: none

docs: lint
  README.md
Due: none

test: add unit tests
  .coverage
  .coveragerc
  .gitignore
  CHANGELOG.md
  Makefile
  api/terraform/python/openai_api/common/tests/test_configuration.py
Due: pylint

refactor: new class RefersTo generalizes custom yaml configurations
  api/terraform/python/openai_api/lambda_openai_function/config/everlasting-gobbstopper.yaml
  api/terraform/python/openai_api/lambda_openai_function/function_refers_to.py
  api/terraform/python/openai_api/lambda_openai_function/lambda_config.yaml
  api/terraform/python/openai_api/lambda_openai_function/refers_to.py
  api/terraform/python/openai_api/lambda_openai_function/tests/mock_data/config/everlasting-gobbstopper-invalid.yaml
  api/terraform/python/openai_api/lambda_openai_function/tests/mock_data/config/everlasting-gobbstopper.json
  api/terraform/python/openai_api/lambda_openai_function/tests/mock_data/config/everlasting-gobbstopper.yaml
  api/terraform/python/openai_api/lambda_openai_function/tests/test_refers_to.py
  api/terraform/python/openai_api/lambda_openai_function/tests/test_setup.py
Due: pylint

refactor: integrate new RefersTo class to function_refers_to
  api/terraform/python/openai_api/lambda_openai_function/config/everlasting-gobbstopper.yaml
  api/terraform/python/openai_api/lambda_openai_function/config/lawrence-mcdaniel.yaml
  api/terraform/python/openai_api/lambda_openai_function/function_refers_to.py
  api/terraform/python/openai_api/lambda_openai_function/lambda_handler.py
  api/terraform/python/openai_api/lambda_openai_function/refers_to.py
  api/terraform/python/openai_api/lambda_openai_function/tests/mock_data/config/everlasting-gobbstopper-invalid.yaml
  api/terraform/python/openai_api/lambda_openai_function/tests/mock_data/config/everlasting-gobbstopper.yaml
  api/terraform/python/openai_api/lambda_openai_function/tests/test_lambda_openai_refers_to.py
  api/terraform/python/openai_api/lambda_openai_function/tests/test_lambda_openai_weather.py
Due: pylint

refactor: add an example configuration template
  api/terraform/python/openai_api/lambda_openai_function/config/everlasting-gobstopper.yaml
  api/terraform/python/openai_api/lambda_openai_function/config/example-configuration.yaml
Due: none

refactor: remove legacy yaml config file
  api/terraform/python/openai_api/lambda_openai_function/function_refers_to.py
  api/terraform/python/openai_api/lambda_openai_function/lambda_config.yaml
  api/terraform/python/openai_api/lambda_openai_function/lambda_handler.py
  api/terraform/python/openai_api/lambda_openai_function/tests/mock_data/config/everlasting-gobbstopper.json
  api/terraform/python/openai_api/lambda_openai_function/tests/mock_data/config/everlasting-gobbstopper.yaml
  api/terraform/python/openai_api/lambda_openai_function/tests/mock_data/json/prompt_about_everlasting_gobstoppers.json
  api/terraform/python/openai_api/lambda_openai_function/tests/test_lambda_openai_function.py
  api/terraform/python/openai_api/lambda_openai_function/tests/test_refers_to.py
Due: pylint

test: minor tweaks after testing
  api/terraform/python/openai_api/lambda_openai_function/function_refers_to.py
  api/terraform/python/openai_api/lambda_openai_function/lambda_handler.py
Due: pylint

style: lint yaml configs
  api/terraform/python/openai_api/lambda_openai_function/config/everlasting-gobstopper.yaml
  api/terraform/python/openai_api/lambda_openai_function/config/lawrence-mcdaniel.yaml
Due: none
