Repository FullStackWithLawrence/aws-openai: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, pylint

.pre-commit-config.yaml:

default_language_version:
  # default language version for each language
  python: python3.11
repos:
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: ["--ignore-words=codespell.txt"]
        exclude: '\.svg$'
  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: bash -c 'cd client && npx eslint'
        language: node
        types: [javascript]
        files: ^client/
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.7
    hooks:
      - id: prettier
  - repo: https://github.com/psf/black
    rev: 23.12.0
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--settings-path=pyproject.toml"]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: ./run_pylint.sh
        language: script
        types: [python]
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.6
    hooks:
      - id: bandit
        args: ["-ll"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      # See https://pre-commit.com/hooks.html for more hooks
      #- id: check-added-large-files
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
      - id: check-case-conflict
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: destroyed-symlinks
      - id: detect-aws-credentials
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: forbid-new-submodules
      - id: trailing-whitespace
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: debug-statements
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.23 # Get the latest from: https://github.com/gruntwork-io/pre-commit/releases
    hooks:
      - id: terraform-fmt
      - id: helmlint
      - id: terraform-validate
      - id: tflint
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.10.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ["@commitlint/config-angular"]
ci:
  # for more information, see https://pre-commit.ci
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit.com hooks
  autofix_prs: true
  autoupdate_branch: ""
  autoupdate_commit_msg: "[pre-commit.ci] pre-commit autoupdate"
  autoupdate_schedule: weekly
  skip:
    [
      terraform-fmt,
      helmlint,
      terraform-validate,
      tflint,
      shellcheck,
      markdown-link-check,
      commitlint,
    ]
  submodules: false

refactor: switch tool factory functions to dicts
  api/terraform/python/openai_api/lambda_openai_function/function_refers_to.py
  api/terraform/python/openai_api/lambda_openai_function/function_weather.py
  api/terraform/python/openai_api/lambda_openai_function/lambda_handler.py
  api/terraform/python/openai_api/lambda_openai_function/tests/test_lambda_openai_refers_to.py
  api/terraform/python/openai_api/lambda_openai_function/tests/test_lambda_openai_weather.py
Due: pylint

refactor: class CustomConfigs as a singleton and add aws s3 bucket support
  Makefile
  api/terraform/python/openai_api/common/conf.py
  api/terraform/python/openai_api/lambda_openai_function/function_refers_to.py
  api/terraform/python/openai_api/lambda_openai_function/refers_to.py
  api/terraform/python/openai_api/lambda_openai_function/tests/test_lambda_openai_function.py
  api/terraform/python/openai_api/lambda_openai_function/tests/test_lambda_openai_refers_to.py
  api/terraform/python/openai_api/lambda_openai_function/tests/test_refers_to.py
Due: pylint

refactor: code aws s3 bucket for remote storage of custom configs
  Makefile
  api/terraform/python/openai_api/common/aws.py
  api/terraform/python/openai_api/common/conf.py
  api/terraform/python/openai_api/common/tests/test_configuration.py
  api/terraform/python/openai_api/lambda_openai_function/custom_config.py
  api/terraform/python/openai_api/lambda_openai_function/function_refers_to.py
  api/terraform/python/openai_api/lambda_openai_function/lambda_handler.py
  api/terraform/python/openai_api/lambda_openai_function/tests/test_custom_config.py
  api/terraform/python/openai_api/lambda_openai_function/tests/test_lambda_openai_custom_config.py
  api/terraform/python/openai_api/lambda_openai_function/tests/test_lambda_openai_function.py
  api/terraform/s3.tf
Due: pylint

test: adjustments to aws s3 loader
  api/terraform/python/openai_api/lambda_openai_function/custom_config.py
Due: pylint

refactor: add s3 permissions for lambda
  api/terraform/json/iam_policy_lambda.json
Due: none

chore: Liam is now the default chatbot
  client/src/App.jsx
Due: none

chore: [gh] Update __version__.py to 0.10.3 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

chore: [gh] Update __version__.py to 0.10.3-beta.1 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

chore: [gh] Update __version__.py to 0.10.3-alpha.1 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

refactor: add Prompting and FunctionCalling classes
  api/terraform/python/openai_api/lambda_openai_function/config/everlasting-gobstopper.yaml
  api/terraform/python/openai_api/lambda_openai_function/config/example-configuration.yaml
  api/terraform/python/openai_api/lambda_openai_function/config/lawrence-mcdaniel.yaml
  api/terraform/python/openai_api/lambda_openai_function/custom_config.py
  api/terraform/python/openai_api/lambda_openai_function/function_refers_to.py
  api/terraform/python/openai_api/lambda_openai_function/lambda_handler.py
  api/terraform/python/openai_api/lambda_openai_function/tests/mock_data/config/everlasting-gobbstopper-invalid.yaml
  api/terraform/python/openai_api/lambda_openai_function/tests/mock_data/config/everlasting-gobbstopper.yaml
  api/terraform/python/openai_api/lambda_openai_function/tests/test_custom_config.py
  api/terraform/python/openai_api/lambda_openai_function/tests/test_lambda_openai_custom_config.py
  api/terraform/python/openai_api/lambda_openai_function/tests/test_lambda_openai_function.py
Due: pylint

refactor: all classes now descend from Pydantic BaseModel
  api/terraform/python/openai_api/lambda_openai_function/custom_config.py
  api/terraform/python/openai_api/lambda_openai_function/function_refers_to.py
  api/terraform/python/openai_api/lambda_openai_function/lambda_handler.py
  api/terraform/python/openai_api/lambda_openai_function/tests/test_custom_config.py
  api/terraform/python/openai_api/lambda_openai_function/tests/test_lambda_openai_custom_config.py
  api/terraform/python/openai_api/lambda_openai_function/tests/test_lambda_openai_function.py
Due: pylint

docs: add function calling README and screen shots
  CHANGELOG.md
  api/terraform/python/openai_api/lambda_openai_function/README.md
  api/terraform/python/openai_api/lambda_openai_function/config/example-configuration.yaml
  client/src/applications/FunctionCalling.js
  doc/img/openai-function-calling-cloudwatch.png
  doc/img/openai-function-calling-example.png
Due: eslint

chore: [gh] Update __version__.py to 0.10.4 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

chore: [gh] Update __version__.py to 0.10.4-alpha.1 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

chore: [gh] Update __version__.py to 0.10.4-beta.1 [skip ci]
  api/terraform/python/openai_api/__version__.py
Due: pylint

docs: lint changelog
  CHANGELOG.md
Due: none

docs: update api documentation
  README.md
  api/terraform/python/openai_api/README.md
  doc/json/apigateway_endpoing_info.json
Due: none

test: add unit tests for new classes
  .coverage
  api/terraform/python/openai_api/lambda_openai_function/tests/test_custom_config.py
Due: pylint

test: fix system_prompt type test
  api/terraform/python/openai_api/lambda_openai_function/tests/test_custom_config.py
Due: pylint

docs: update main readme
  README.md
Due: none

test: add tests for aws s3 bucket
  api/terraform/python/openai_api/lambda_openai_function/tests/test_custom_config.py
Due: pylint

docs: add a quickstart, and python documentation
  Makefile
  README.md
  api/terraform/python/README.md
  api/terraform/python/openai_api/README.md
Due: none

style: lint file
  api/terraform/terraform.tfvars
Due: none

docs: update good coding practices
  doc/GOOD_CODING_PRACTICE.md
Due: none

docs: update quickstart
  Makefile
  README.md
Due: none

docs: add .env file instructions
  README.md
  doc/img/dot-env.png
Due: none

docs: add .env file instructions
  README.md
Due: none

refactor: create a dot-env template file
  Makefile
  README.md
  doc/example-dot-env
Due: none

refactor: create a dot-env template file
  README.md
Due: none
